@charset "UTF-8";

* {margin:0;padding:0;font-family:'Noto Sans KR','Malgun Gothic','맑은 고딕',Verdana,Tahoma,"돋움",Dotum,"굴림",Gulim,Geneva,sans-serif,Apple Gothic,AppleGothic;}
body {font-size:15px;}
li {list-style:none;}
a {color:#444;text-decoration:none;}
a:hover {color:#444;}
a:visited, a:focus, a:active {color:#444;}
#wrap {position:relative;width:1200px;margin:0 auto;padding:80px 20px 50px 20px;}
header {position: fixed;left:0;top:0;width:100%;height:80px;background:#fff;}
header .cont_area {position:relative;width:1200px;margin:0 auto;padding:0 20px; display:flex; flex-direction: column-reverse;}
	
h1 {font-size:30px;margin:20px 0;font-weight:700;line-height:34px;letter-spacing:-1px; vertical-align:top;}
h1 img { vertical-align:top;}
.info {position:absolute;right:25px;bottom:5px;}
.guide {margin:10px 0 5px 0;text-align:right;}
h2 {padding:8px 15px;font-size:15px;font-weight:500;border:1px solid #444;border-bottom:none;background:#595959;color:#fff;}
h3 {position:relative;margin:-1px 0;padding:6px 15px;border:1px solid;border-color:#999 #ccc;background:#ccc;font-size:15px;font-weight:500;}
caption {display:none;}
div.cont {border-top:1px solid #444;}
table {border-collapse:collapse;width:100%;border-spacing:0;}
table thead th {padding:6px 3px;border:1px solid #ccc;background:#eee;font-size:15px; text-align: center;}
table tbody td {padding:5px 3px;border:1px solid #ccc;background:#e4e4e4;text-align:center;color:#898989;font-size:12px;}
table tbody td.left {padding:5px 10px;text-align:left;}
table tbody td.url {padding:5px 10px;text-align:left;}
table tbody tr.hidden td {background:#e4e4e4;color:#898989;text-decoration:line-through;}
table tbody tr.mod td {background:#fce9dc;color:#444;}
table tbody tr.add td {background:#e1f5fe;color:#444;}
table tbody tr.end td {background:#fff;color:#666;}
table tbody tr:hover td {background:#e2e6f4 !important;}
.url a:hover {font:red; font-size:15px;}
div.cont table colgroup col.w10{width:10%}
div.cont table colgroup col.w20{width:20%}
div.cont table colgroup col.w30{width:30%}
div.cont table colgroup col.w40{width:40%}
.red {color:#c00 !important;font-weight:bold;}
.big {font-size: 20px;}
.tab_nav {margin-bottom:5px;}
.tab_nav li {float:left;margin-right:5px;}
.tab_nav li a {display:block;padding:4px 10px 5px 10px;border:1px solid #444;border-radius:4px;background:#595959;color:#fff;font-size:14px;transition:all 0.4s;}
.tab_nav li a:hover {background:#009dff;border-color:#006fb5;}
.tab_nav:after {display:block;clear:both;height:0;content:"";overflow:hidden;}